<?xml version="1.0" encoding="UTF-8"?>
<config version="1.0"  discription="Config file evaluates medFramework methods configuration">
    <parameters>
        <common discription="Common includes the main parameters of computeFramework such as turning on/off some methods and features">
            
            <printPlotsEnable value="1" description="Enable saving jpg-images of found defects"/>
            <parpoolEnable value="0" description="Enable parallel calculations"/>
            <windowKurtosis value="1" description="Enable window kurtosis calculation" />
            <waveletDenoiseEnable value="1" description="Enable wavelet signal denoising using swt" />
            
        </common>
        
        <evaluation description="Evaluation includes the main functions and methods parameters">
            <waveletDenoising processingEnable="1" deviceType="1" minPeakHeight="0.05" minPeakDistance="0.6" wname="sym7" level="" >
                <periodicityCalculation processingEnable="1" description="Enables finding periodicities" />   
            </waveletDenoising>
            <spectrumFiltration MinPeakHeight = "0.00005" TimePeakDistance = "0.7" plotEnable = "1" DetailedPlotEnable = "1" printPlotEnable = "1"/>

            
        </evaluation>
    </parameters>
</config>
